<form method="POST">

    <table class="tg">
        <tr>
        <td>
            <input name="text_field_1", placeholder="Input values">
        </td>
        </tr>
        <tr>
        <td>
            <input type="submit" value="predict" name="submit_1">
        </td>
        </tr>
        <tr>
        <td>
            {{text_field_2}}
        </td>
        <tr>
        <td>
            <input type="submit" value="get_info_by_model" name="submit_2">
        </td>
        </tr>
        <td>
            {{text_field_4}}
        </td>
        </tr>
    </table>
</form>